@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black;
            padding-bottom: 1rem;
            padding-top: 1rem; */
  height: 65px;
  border-bottom: 1px solid rgb(226, 218, 218);
  padding: 10px 145px;
}

nav {
  /* background-color: red; */
  width: 850px;
  gap: 26px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  /* background-color: green; */
  justify-content: space-between;
  width: 186px;
  font-size: 18px;
}

#search-form {
  height: 45px;
  width: 271px;
  /* background-color: blue; */
  display: flex;
  align-self: center;
}

#search {
  width: 271px;
  border-radius: 12px;
  outline: none;
  border: 1px solid #cfd3d4;
}

.button_container {
  width: 270px;
  height: 45px;
  gap: 10px;
  /* background-color: green; */
  display: flex;
  align-items: center;
}

.button {
  height: 45px;
  width: 144px;
  border-radius: 12px;
  border: none;
}

.login-btn {
  border: 1px solid #02a7a2;
  background-color: white;
}

.signup-btn {
  color: white;
  background: #02a7a2;
}

.auth-page {
  background: white;
  max-width: 732px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin: 45px auto 0;
  margin-bottom: 40px;
  border-radius: 12px;
  /* padding: 3rem 4.0625rem 2.875rem 4rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 0.5rem;
            position: absolute;
            top: 10rem;
            left: 25rem;
            border-radius: 1.5rem;
            background: #fff; */
  box-shadow: 0px 4px 105px 0px rgba(0, 0, 0, 0.1);
}

.auth-page-btns {
  display: flex;
  /* padding: 3rem 4.0625rem 2.875rem 4rem; */
  justify-content: center;
  align-items: center;
  width: 603px;
  height: 56px;
  border-radius: 12px;
  margin-top: 40px;
}

.auth-btns {
  width: 603px;
  height: 56px;
  font-size: 16px;
  border: 1px solid #02a7a2;
}

.signup_btn {
  background-color: #02a7a2;
  /* border: none; */
  outline: none;
  color: white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.login_btn {
  /* border: 1.5px solid #02a7a2; */
  outline: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
}

.auth-body {
  margin-top: 25px;
  height: 700px;
  width: 454px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.auth-body-text {
  /* height: 10%; */
  /* width: 327px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.auth-body-text p {
  font-size: 25px;
  margin-bottom: 10px;
}

.auth-body-text span {
  font-size: 20px;
  margin-top: 30px;
}

.google {
  width: 454px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .auth-btns {
          padding: 3rem 4rem 3rem 6rem;
      } */
/* .dividers {
            display: flex;
            gap: 0.5rem;
        } */

#google-btn {
  width: 454px;
  height: 50px;
  display: flex;
  gap: 16px;
  border: none;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  border: 1px solid #4d4d4d;
  font-size: 16px;
  background-color: white;
  /* display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.5rem;
            border-radius: 1rem;
            background-color: pink; */
}

.google p {
  font-size: 14px;
}

.google a {
  border-bottom: 1px solid #cfd3d4;
  font-size: 14px;
}

.dividers {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dividers p {
  font-size: 16px;
}

.dividers p:after {
  content: "";
  border: 0.5px solid #dbdbdb;
  width: 15%;
  display: block;
  /* top: -5px; */
  position: absolute;
  right: 28rem;
  top: 30.4rem;
}

.dividers p:before {
  content: "";
  border: 0.5px solid #dbdbdb;
  width: 15%;
  display: block;
  /* top: -5px; */
  position: absolute;
  left: 28rem;
  top: 30.4rem;
}

.email_pass {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #4d4d4d;
}
/* 
#sign_up_form {
  height: 500px;
  width: 454px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#login_form {
  height: 500px;
  width: 454px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
} */

.auth-forms {
  height: 500px;
  width: 454px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

fieldset {
  width: 454px;
  gap: 10px;
  display: flex;
  height: 58px;
  padding: 8px 16px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #cfd3d4;
}

.password-error {
  border: 1px solid red;
}

.fieldset .field {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
  align-items: flex-start;
  width: 382px;
  height: 42px;
}

.field input {
  width: 382px;
  outline: none;
  border: none;
  height: 25px;
}

.field input::placeholder {
  color: #abafb1;
  font-size: 14px;
  font-weight: 400;
}

.field label {
  font-size: 12px;
  font-weight: 400;
  color: #5e6366;
}

/* #big-signup-btn {
  width: 453px;
  border-radius: 12px;
  height: 3rem;
  font-size: 16px;
  margin-top: 10px;
} */
.big-btn {
  width: 453px;
  border-radius: 12px;
  height: 3rem;
  font-size: 16px;
  margin-top: 10px;
}

.forgot {
  margin-top: 15px;
}

/* #big-signup-btn:hover {
  /* background-color: #08bd35;
                                            
} */

.password-error-message {
  color: #abafb1;
  font-family: Inter;
  font-size: 10.225px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error {
  color: red;
}

/* 
.success {
  color: green;
}

.password-error-message {
  display: none;
}  */

#login-page {
  display: none;
}

/* signup-page {
  display: none;
} */

#auth-success-page {
  display: none;
}

.auth-success-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  margin: 5rem;
}

#return-to-home {
  color: white;
  background: #02a7a2;
  align-self: center;
}

#tick-square {
  margin-bottom: 1rem;
}

.active-btn {
  background-color: #02a7a2;
  /* border: none; */
  outline: none;
  color: white;
  /* border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; */
}

.inactive-btn {
  background-color: white;
  /* border: none; */
  outline: none;
  color: black;
  /* border-top-left-radius: 12px;
  border-bottom-left-radius: 12px; */
}

/*
PRODUCT DETAIL STYLES
*/

.user-icon {
  background-color: #02a7a2;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 1rem;
}

.product-details-page {
  padding: 10rem;
}

.book-details {
  display: flex;
  justify-content: space-evenly;
  /* padding: 10rem; */
  gap: 3rem;
}

.book-details-img {
  width: 50%;
}

.book-details-desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 2rem; */
}

.book-img {
  width: 100%;
}

.book-stars {
  display: flex;
}

.prices {
  display: flex;
  gap: 1rem;
}

.analytics {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.old-price {
  color: red;
  text-decoration: line-through;
}

.box {
  /* background: gray; */
  height: 25px;
  width: 25px;
  display: flex;
  place-content: center;
  border: 0.01rem solid #80e4e0;
  /* border-radius: 0.1rem;
  border: 0.1px solid #80e4e0; */
}

.counter {
  /* background: #80e4e0; */
  display: flex;
  flex-direction: row;
  /* gap: 0.1rem; */
  /* border: 0.1rem solid #80e4e0; */
  /* border-radius: 1rem;
  border: 1px solid #80e4e0; */
}

.operator {
  background: #80e4e0;
}

.minus-sign {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.plus-sign {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#buy-now-btn {
  color: white;
  background: #f29727;
}

#add-to-cart-btn {
  color: white;
  background: #02a7a2;
}

.about-book {
  text-align: justify;
  font-family: Inter;
  font-size: 17.586px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 23.741px */
}

.customer-reviews {
  margin-top: 5rem;
  border-top: 2px solid #8f8f8f;
  display: flex;
  gap: 3rem;
}

.customer-review {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.customer-reviews-heading {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.customer-review-list {
  width: 50%;
}

.customer-review-desc {
  margin-left: 5rem;
  margin-bottom: 2rem;
  width: 50%;
}

.customer-review-title {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  /* width: 50%; */
}

.customer-data {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.customer-rating {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  gap: 0.5rem;
  /* column-gap: 0.5rem; */
  border-radius: 10px;
  border: 2px solid #56dbd6;
}

.customer-review-list li:nth-child(2),
.customer-review-list li:nth-child(3) {
  border-bottom: 2px solid #8f8f8f;
}

.customer-reviews-ratings {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}

.customer-reviews-ratings-total-val {
  display: flex;
}

#div5 {
  align-self: flex-end;
}

footer {
  padding: 10rem;
  background: #ccf4f3;
}

#bottom-nav {
  display: flex;
  flex-direction: column;
  background: wheat;
}

.bottom-nav-top {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #8f8f8f;
  border-bottom: 2px solid #8f8f8f;
}

.bottom-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}

.bottom-list li {
  margin-bottom: 0.5rem;
}

.download-sites {
  margin-top: 3rem;
  display: flex;
  /* justify-content: start; */
  gap: 1rem;
}

.bottom-nav-bottom {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.aid-links-list {
  display: flex;
  gap: 1rem;
}

.social-media-icons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
